.my-card-body{
    height: calc(100vh - (55px+48px));
    
/* elipsisを当てると１行になる */
.elipsis{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

@media screen and (max-width:760px){
    /* 画像サイズ480pxからはここを読み込む */
    .my-card-body{
        height:auto;
        max-height: 50vh;
    }
}